// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.container{
  font-size: 22px;
}

.image-box{
  border: solid 2px lightgray
}